<a href="https://colab.research.google.com/github/sahil-singh-8651/Anshu/blob/main/merge%26concatusing_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample data for df1
data1 = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40]
}

# Sample data for df2
data2 = {
    'id': [3, 4, 5, 6],
    'name': ['Charlie', 'David', 'Edward', 'Fiona'],
    'salary': [70000, 80000, 90000, 100000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging datasets on 'id'
merged_df = pd.merge(df1, df2, on='id', how='inner')
print("Merged DataFrame (inner join):")
print(merged_df)

# Different types of joins: left join
left_merged_df = pd.merge(df1, df2, on='id', how='left')
print("\nMerged DataFrame (left join):")
print(left_merged_df)

# Row-wise concatenation
concat_df = pd.concat([df1, df2], ignore_index=True, sort=False)
print("\nConcatenated DataFrame (row-wise):")
print(concat_df)

# Sample data for df3 for column-wise concatenation
data3 = {
    'salary': [50000, 60000, 70000, 80000],
    'department': ['HR', 'IT', 'Finance', 'Marketing']
}

df3 = pd.DataFrame(data3)

# Column-wise concatenation
concat_col_df = pd.concat([df1, df3], axis=1)
print("\nConcatenated DataFrame (column-wise):")
print(concat_col_df)

Merged DataFrame (inner join):
   id   name_x  age   name_y  salary
0   3  Charlie   35  Charlie   70000
1   4    David   40    David   80000

Merged DataFrame (left join):
   id   name_x  age   name_y   salary
0   1    Alice   25      NaN      NaN
1   2      Bob   30      NaN      NaN
2   3  Charlie   35  Charlie  70000.0
3   4    David   40    David  80000.0

Concatenated DataFrame (row-wise):
   id     name   age    salary
0   1    Alice  25.0       NaN
1   2      Bob  30.0       NaN
2   3  Charlie  35.0       NaN
3   4    David  40.0       NaN
4   3  Charlie   NaN   70000.0
5   4    David   NaN   80000.0
6   5   Edward   NaN   90000.0
7   6    Fiona   NaN  100000.0

Concatenated DataFrame (column-wise):
   id     name  age  salary department
0   1    Alice   25   50000         HR
1   2      Bob   30   60000         IT
2   3  Charlie   35   70000    Finance
3   4    David   40   80000  Marketing